
$primary: #67A2BC;
$primary-invert: #FFFfFf;
$link: $primary;

$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    //"twitter": ($twitter, $twitter-invert)
);

$family-primary: 'Barlow Condensed', sans-serif;

$radius-small: 0;

//numeric
$nav-max: 5vh;
$nav-height: 3em;
$body-height: calc(100vh - #{$nav-height});


//animation
$trans-fast: .3s;

$gradient-main: linear-gradient(135deg, $primary 0%, $primary 50%, #30c7bf 100%);



@mixin scrollbar {
    &::-webkit-scrollbar {
        display: block;
        width: 0.5rem;
        height: 8px;
        background-color: $border;
        } 
    &::-webkit-scrollbar-thumb {
        background: $dark; 
    }
}

@mixin table-dimensions($one,$two,$three,$four,$five,$six,$seven,$eight,$nine,$ten) {
    &:nth-child(1) {
        width:$one;
    }
    &:nth-child(2) {
        width:$two;
    }
    &:nth-child(3) {
        width:$three;
    }
    &:nth-child(4) {
        width:$four;
    }
    &:nth-child(5) {
        width:$five;
    }
    &:nth-child(6) {
        width:$six;
    }
    &:nth-child(7) {
        width:$seven;
    }
    &:nth-child(8) {
        width:$eight;
    }
    &:nth-child(9) {
        width:$nine;
    }
    &:nth-child(10) {
        width:$ten;
    }
}