body {
    font-family: "Barlow Condensed", sans-serif !important;
    max-height: 100vh;
    // overflow: hidden;
}
::-webkit-scrollbar {
    // display: none;
}

::selection {
    background-color: $link;
}
.is-gradient {
    background: $gradient-main;
}

/*.menu-label {
    background: $primary;
    padding: 0.5rem;
    color: $primary-invert;
}*/

.app-content {
    margin: 0 !important;
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    position: relative;
    grid-gap: 1rem;
    padding: 1rem;
    height: $body-height;
    max-height: 100%;
    @media (min-width: 800px) {
        owerflow-y: auto;
    }

    .left {
        display: flex;
        flex-direction: column; //border: 1px solid $border;
    }
    .scrollable {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        @include scrollbar;
    }
    .msection {
        margin-bottom: 2rem;
        & > span {
            padding: 0 1rem;
            text-align: center;
        }
    }
    .header {
        background: $primary;
        padding: 0.5rem;
        margin-bottom: $block-spacing / 4;
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            @extend .has-text-weight-semibold;
            color: $primary-invert;
            //font-weight: bold;
            margin: 0;
        }
    }
    .b-table {
        overflow-x: hidden;
        tr {
            vertical-align: center;
            align-items: center;
        }
    }
    .column {
        overflow-y: auto;
    }
}

.mrt {
    margin-top: $hr-margin !important;
}

/*li, dt, dd {
      margin-bottom: 0.5rem;
    }*/

/*.table {
    height: 100%;
    &.scrollable {
        border-collapse: collapse;
        thead, tfoot {
            //display: block;
            //width: 100%;        
            width: 100%;
            display: table;
            table-layout: fixed;
            //scrollbar
            
        }
        tbody {
            display: block;
            flex-direction: column;
            overflow:auto;
            max-height: 75vh;
            width:100%;
            
            tr {
                width: 100%;
                display: table; 
                table-layout: fixed ;           
            }
            @include scrollbar 
        }
        //complements the width difference with the scrollbar
        //last th should be used empty
        th:last-child {
           padding: 0; 
        }
        }
    &.not-bordered {
        border-bottom: none;
        tr {
            border: none;
        }
    }
    th:last-child, td:last-child {
        text-align: right;
    }
    &::-webkit-scrollbar {
        display: initial;
    }
}*/

.table {
    &.bolded {
        td:first-child {
            font-weight: 600;
            width: 50%;
        }
    }
}

.control-panel {
    margin: 0;
}
.button {
    border-radius: 0;

    & + .button:not(:last-child) {
        border-right: none;
    }
}
.items-container {
    padding: 0.5rem;
}

.tag {
    @extend .has-text-weight-medium;
}

.dropdown-content {
    border-radius: 0;
}
